.advertisement {
  position: relative;
  margin-bottom: 18px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $color-div-line;
  }

  &__item {
    float: left;
    width: calc(33.33% - 38px);
    margin: 0 56px 0 0;
    font-size: 12px;
    line-height: 20px;
    color: $color-font;

    &:last-child {
      margin: 0;
    }

    &-header {
      position: relative;
      margin: 26px 0 15px;
      padding-bottom: 8px;
      font-size: 18px;
      font-weight: 600;
      color: $color-headers;
      text-transform: uppercase;
      border-bottom: 6px solid #090909;
    }

    &-content {
      margin: 0 0 8px;;
    }

    &-blockquote {
      margin: 0;
    }

    &-autor {
      display: block;
      margin-top: 18px;

      a {
        text-decoration: none;
        color: #090909;
      }
    }

    &-link {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-nav-link;
      user-select: none;

      &::before {
        color: $color-font;
      }

      &:hover,
      &:focus {
        opacity: .5;
      }
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;

    li {
      position: relative;
      padding: 0 0 0 30px;
      margin-bottom: 8px;
      line-height: 1.4;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: #fff;
        background-image: url("../img/check-icon.png.jpg");
        background-repeat: no-repeat;
        background-position: cover;
      }
    }
  }
}