.main-nav {

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    float: left;
    margin-right: 64px;
    color: $color-orange;

    &--current {
      color: $color-font-dark;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: inherit;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: inherit;

    &:hover,
    &:focus {
      color: $color-hover-nav;
    }
  }
}