$color-font: #5d5d5d;
$color-font-dark: #090909;
$color-grey: #999898;
$color-grey-dark: #686767;
$color-orange: #fe9b00;
$color-orange-dark: #f58400;
$color-hover-nav: #333333;
$color-grey-light: #c0c0c0;
$color-bg-footer: #e2e2e2;